

.u-section-1 .u-sheet-1 {
  min-height: 655px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 20px auto 0;
}

.u-section-1 .u-gallery-1 {
  height: 444px;
  width: 959px;
  margin: 39px auto 48px;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-1 .u-back-image-1 {
  object-position: 50% 39.15%;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-1 .u-back-image-2 {
  object-position: 50% 49.13%;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-1 .u-back-image-3 {
  object-position: 50% 9.62%;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
}


@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 532px;
  }

  .u-section-1 .u-gallery-1 {
    height: 356px;
    width: 829px;
    margin-bottom: 39px;
  }

  .u-section-1 .u-carousel-control-1 {
    left: -49px;
  }

  .u-section-1 .u-carousel-control-2 {
    right: -49px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-gallery-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-gallery-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 584px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-gallery-1 {
    height: 190px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-carousel-control-1 {
    left: 7px;
  }

  .u-section-1 .u-carousel-control-2 {
    right: 7px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 551px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 50px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 90px 50px 0 694px;
}

.u-section-2 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: -55px auto 0 127px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -64px auto 0 208px;
}

.u-section-2 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: -28px 463px 0 auto;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  margin: -19px 611px 0 208px;
}

.u-section-2 .u-text-5 {
  font-size: 1.125rem;
  margin: -56px 90px 0 694px;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 50px 238px 0 auto;
}

.u-section-2 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: -28px 463px 0 auto;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -64px auto 0 208px;
}

.u-section-2 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: -28px auto 0 127px;
}

.u-section-2 .u-text-8 {
  font-size: 1.125rem;
  margin: -19px 91px 0 694px;
}

.u-section-2 .u-text-9 {
  font-size: 1.125rem;
  margin: -84px 604px 60px 208px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 516px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 91px;
    margin-left: 585px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: -84px;
    margin-left: 65px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-left: 146px;
  }

  .u-section-2 .u-icon-2 {
    margin-right: 372px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-right: 470px;
    margin-left: 149px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: -28px;
    margin-right: 0;
    margin-left: 585px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 20px;
    margin-right: 138px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: -20px;
    margin-right: 372px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: -100px;
    margin-left: 146px;
  }

  .u-section-2 .u-icon-4 {
    margin-top: -23px;
    margin-left: 65px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: 4px;
    margin-right: 0;
    margin-left: 585px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: -112px;
    margin-right: 470px;
    margin-left: 142px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 548px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 46px;
    margin-right: 20px;
    margin-left: 426px;
  }

  .u-section-2 .u-icon-1 {
    width: 51px;
    height: 51px;
    margin-top: -98px;
    margin-left: 20px;
    padding: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: -51px;
    margin-left: 93px;
  }

  .u-section-2 .u-icon-2 {
    width: 49px;
    height: 49px;
    margin-top: -38px;
    margin-right: 311px;
    padding: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: 7px;
    margin-right: 379px;
    margin-left: 93px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -42px;
    margin-right: 32px;
    margin-left: 422px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 81px;
  }

  .u-section-2 .u-icon-3 {
    width: 42px;
    height: 42px;
    margin-top: -28px;
    margin-right: 311px;
    padding: 0;
  }

  .u-section-2 .u-text-7 {
    margin-top: -84px;
    margin-left: 93px;
  }

  .u-section-2 .u-icon-4 {
    width: 42px;
    height: 42px;
    margin-top: -28px;
    margin-left: 34px;
    padding: 0;
  }

  .u-section-2 .u-text-8 {
    margin-top: 45px;
    margin-right: 64px;
    margin-left: 422px;
  }

  .u-section-2 .u-text-9 {
    margin-top: -151px;
    margin-right: 377px;
    margin-left: 91px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 625px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.25rem;
    margin-top: 37px;
    margin-right: 17px;
    margin-left: 93px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 92px;
    margin-left: 25px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-icon-2 {
    margin-top: -165px;
    margin-right: auto;
    margin-left: 27px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 132px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -172px;
    margin-right: 13px;
    margin-left: 93px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.25rem;
    margin-top: 137px;
    margin-right: auto;
    margin-left: 89px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: -24px;
    margin-right: auto;
    margin-left: 31px;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.25rem;
    margin-top: 76px;
    margin-left: 92px;
  }

  .u-section-2 .u-icon-4 {
    margin-top: -24px;
  }

  .u-section-2 .u-text-8 {
    margin-top: -119px;
    margin-right: 17px;
    margin-left: 92px;
  }

  .u-section-2 .u-text-9 {
    margin: 62px 17px 27px 92px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 592px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -147px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 47px;
    margin-right: 0;
    margin-left: 87px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 86px;
    margin-left: 19px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -38px;
    margin-right: 53px;
    margin-left: auto;
  }

  .u-section-2 .u-icon-2 {
    margin-top: -184px;
    margin-left: 21px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 167px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-top: -223px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-top: 198px;
    margin-right: 72px;
    margin-left: auto;
  }

  .u-section-2 .u-icon-3 {
    margin-top: -33px;
    margin-left: 24px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 135px;
    margin-left: 87px;
  }

  .u-section-2 .u-icon-4 {
    margin-top: -35px;
    margin-left: 28px;
  }

  .u-section-2 .u-text-8 {
    margin-top: -147px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin: 87px 0 32px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 669px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  margin: 54px 111px 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.875rem;
  width: 724px;
  margin: 30px auto 0;
}

.u-section-3 .u-form-1 {
  height: 353px;
  background-image: none;
  width: 570px;
  margin: 32px auto 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
}

.u-section-3 .u-text-3 {
  font-size: 0.875rem;
  width: 570px;
  margin: -15px auto 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 11px;
    margin-right: 11px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-top: 32px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-form-1 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-form-1 {
    width: 340px;
  }

  .u-section-3 .u-text-3 {
    width: 340px;
  }
}