

.u-section-1 .u-sheet-1 {
  min-height: 659px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 110px auto 0 0;
}

.u-section-1 .u-line-1 {
  width: 308px;
  transform-origin: left center 0px;
  margin: 23px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 41px 755px 0 0;
}

.u-section-1 .u-image-1 {
  width: 574px;
  height: 111px;
  margin: -320px 0 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 3rem;
  margin: 23px 20px 60px 585px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 577px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 555px;
  }

  .u-section-1 .u-image-1 {
    width: 465px;
    height: 90px;
    margin-top: -364px;
    margin-right: 23px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 0;
    margin-left: 421px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 605px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 11px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 23px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 23px;
    margin-right: auto;
    margin-left: 116px;
  }

  .u-section-1 .u-text-3 {
    width: 519px;
    margin: 26px auto 23px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: 24px;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin: 23px 0 60px 21px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 668px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 66px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.875rem;
    margin-bottom: 24px;
    margin-left: 11px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 568px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  margin: 30px auto 0 0;
}

.u-section-2 .u-line-1 {
  width: 272px;
  transform-origin: left center 0px;
  margin: 32px auto 0 0;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  margin: 23px 582px 0 0;
}

.u-section-2 .u-text-3 {
  margin: -336px 19px 60px 563px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 372px;
    margin-left: 10px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-right: 0;
    margin-bottom: 30px;
    margin-left: 382px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 536px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 152px;
  }

  .u-section-2 .u-text-3 {
    margin-bottom: 60px;
    margin-left: 288px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: -300px;
    margin-right: 20px;
    margin-left: 229px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 818px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 23px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -12px;
    margin-right: 49px;
    margin-left: 0;
  }
}